:root {
    font-family: "Poppins";

    --cor-primaria: #FF0000;
    --cor-secundaria: #1E1E1E;
    --cor-terciaria: #ffff;

}

body {
    margin: 0 auto;

}

main {
    background-color: var(--cor-terciaria);
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;

}

#container {
    background-color: var(--cor-primaria);
    height: 100vh;
    display: flex;

}


img {
    width: 5em;
    height: 5em;

}

#info {
    align-items: flex-end;
    margin: 0 auto;
}

#tela_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    row-gap: 15px;
    max-width: 360px;

}

#tela_login>i {
    text-align: center;
    color: var(--cor-primaria);
    margin-bottom: 5vh;
}


input,
button {
    height: 3em;
    border-radius: 2vh;
    border: none;
    width: 40vh;
    max-width: 360px;

}

input {
    background-color: #E2DDDD;
    text-indent: 2vh;
}

#erro {
    font-size: 5vh;
}


button {
    background-color: var(--cor-primaria);
    font-size: 2vh;
    color: var(--cor-terciaria);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    width: 30vh;
    margin: 0 auto;
    font-family: 'Poppins';
}

button:hover {
    transform: scale(1.1);
    font-display: none;
    background-color: hwb(0 39% 0%);
}


#redefinicao {
    font-size: 1.9vh;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-weight: 520;
}

#info {
    margin: 5vw;
    margin-top: auto;
    color: var(--cor-terciaria);
    row-gap: 2px;

}

h1 {
    font-size: 3em;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;

}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;

    }

    #container {
        height: auto;
        padding: 2em;
    }

    #tela_login {
        margin-top: 10vw;
        margin-bottom: 10vw;

    }

    h1 {
        font-size: 10vw;
    }

}