.eventos-agenda {
    border: solid black;
    width: 25em;
    height: 12em;
    margin: 5px;
    padding: 8px;
}
.img-evento {
    width: 100px;
    min-width: 90px;
    display: inline-block;
}

.evento-titulo-div {
    color: rgb(0, 0, 0);
}

.evento_header-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 30px;
    align-content: center;
}